table.mat-table {
  width: 100%;
}
#type_filter {
  width: 110px;
}
#search_filter {
  width:120px;
  margin-left:10px;
}

mat-grid-tile {
  background-color: #fff;
  border-radius:2px;
}

mat-expansion-panel {
  margin-top: 15px;
  margin-bottom: 15px;
}
