table.mat-table {
  width: 100%;
}
#type_filter {
  width: 110px;
  margin-left:10px;
}
#search_filter {
  margin-left:10px;
  width:120px; 
}

#bulk_action_filter {
  width: 200px;
  margin-left:10px;
}

.btn-group {
  margin-bottom:10px;
  margin-left:10px;
}