<mat-toolbar color="primary">
  <button mat-icon-button class="collapse-icon" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span>CREATE - Pricer</span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="true" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <mat-action-list>
      <button mat-list-item> Manufacturer Inbox </button>
      <button mat-list-item> My Requests </button>
      <button mat-list-item> Other Requests </button>
      <button mat-list-item> Dashboard </button>
      <button mat-list-item> Communication </button>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>Content Section</p>
  </mat-sidenav-content>
</mat-sidenav-container>
