<mat-toolbar color="primary">
  <button mat-icon-button class="collapse-icon" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <img class="img-fluid banner-img" src="assets/banner.png">
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-action-list>
      <a mat-list-item [routerLink]="['/manufacturer_inbox']"> Manufacturer Inbox </a>
      <a mat-list-item [routerLink]="['/my_requests']"> My Requests </a>
      <a mat-list-item [routerLink]="['/other_requests']"> Other Requests </a>
      <a mat-list-item [routerLink]="['/dashboard']"> Dashboard </a> 
      <a mat-list-item> Communication </a>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
