.example-container {
  position: absolute;
  top: 62px;
  bottom: 0;
  left: 0;
  right: 0;
}

.collapse-icon {
  background: transparent;
  border: none;
  color: white;
}

mat-sidenav {
  width: 300px;
}

.sidenav-link {
  text-align:center;
}

mat-sidenav-content {
  padding: 25px;
}

mat-action-list {
  padding-top:0px;
}

.mat-list-base .mat-list-item {
  text-decoration: none;
}

mat-list-option[aria-selected="true"] {
  background: silver;
}

.mat-toolbar.mat-primary {
  background: #193f68;
  color: #fff;
}

.banner-img {
  height:50%;
}


.mat-tab-body-content {
  overflow-x: hidden !important;
}

@media (min-width: 1281px) {
  .collapse-icon {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .collapse-icon {
    display: none;
  }
}